* {
  /*border:0.1px solid black;*/
}

html {
  /*font-size: 16px;*/
  height:100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.noScroll {
  overflow: hidden;
  position: fixed;
}


/* contains: header, nav, footer */

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
  padding: 0;
}


/* contains a with hamburger and logo in h*/

header, main, nav {
  transition: all 0.3s ease-in-out;
  background: white;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  z-index: 1;
  position: relative;
  left: 0;
}

header a {
  position: absolute;
  left: 1%;
  display: block;
  max-width: auto;
}

header h1 {
  display: block;
  max-width: auto;
  font-size: 24px;
}

main {
  position: relative;
  left: 0;
}

main img {
  width: 100%;
}

.moveMainAndHeader {
  left: 60%;
  border-left: 1px solid lightgrey;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-video-container {
  width: auto;
  padding-bottom: 25px;
}

video {
  display: block;
  width: 100%;
  margin: auto;
}

.main-photo-container {
  width: auto;
}

.hamburger-link img {
  width: 24px;
  margin: 2px 0 0 2px;
}

a[data-target="open-sub-menu"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

a[data-target="close-sub-menu"]>span {
  padding-right: 5%;
}


/*--------visibility nav*/

nav {
  width: 70%;
  position: absolute;
  top: 0;
  z-index: 0;
  visibility: hidden;
}

.visibleNav {
  visibility: visible;
}

.sub-menu {
  background: white;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 768px;
  transition: all 0.3s ease-in-out;
}

.sub-menu ul {
  margin: 0;
  width: 100%;
}

.sub-menu li {
  padding: 10px 0 0 25px;
  margin: 0;
}

.sub-menu > a {
  display: inline-block;
  padding: 10px 0 10px 25px;
  margin: 0;
  border-bottom: 1px solid lightgrey;
  width: 80%;
}

.sub-menu img {
  width: 99%;
  display: block;
}

.open-sub-menu {
  top: 0;
  left: 0;
  visibility: visible;
}


/*.nav-main-list li */

.nav-main-list-item, .sub-menu-list>li {
  display: inline-block;
  width: 80%;
  padding: 10px 0 10px 25px;
  margin: 0;
  border-bottom: 1px solid lightgrey
}

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

footer ul, footer form {
  display: block;
  margin: 0 auto 20px;
}

footer li {
  padding-bottom: 15px;
}

.footer-list li:first-of-type {
  font-weight: bold;
}

footer>* {
  text-align: center;
}

footer label {
  font-weight: bold;
}

.color-span {
  background-color: lightcoral;
}

.small-note {
  /*
  display: inline-block;
  max-width: 550px;
  */
  margin: 20px;
  text-align: justify;
  letter-spacing: 0.3px;
}

input {
  width: 200px;
  height: 20px;
  padding-right: 76px;
  overflow: hidden;
}

button {
  margin-left: -75px;
  height: 20px;
  width: 70px;
  background: white;
  border: none;
  cursor: pointer;
}

button:active {
  border: none;
  outline: none;
}

button:focus {
  outline: 0;
}

@media only screen and (min-width: 768px) and (max-width:1023px) and (orientation: portrait) {
  body {
    background: cornflowerblue;
    width: 100%;
  }
  header {
    justify-content: center;
  }
  header a {
    position: absolute;
    left: 1%;
    width: auto;
  }
  header h1 {
    align-self: flex-end;
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width:1023px) and (orientation: landscape) {
  body {
    background: lime;
    width: 100%;
    height: 100%;
  }
  header {
    justify-content: center;
  }
  header a {
    position: absolute;
    left: 1%;
    width: auto;
  }
  header h1 {
    align-self: flex-end;
    width: auto;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    background: antiquewhite;
    width: 100%;
    height: 100%;
  }
  header {
    margin: 10px 0;
  }
  .hamburger-link {
    display: none;
  }
  nav {
    width: 100%;
    position: static;
    visibility: visible;
    /*
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    */
    overflow: hidden;
    z-index: 1;
  }
  /*
  .nav-main-list-item,
  .sub-menu-list > li{
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid lightgrey
  }
 */
  .nav-main-list {
    /*
    width: 100%;
    margin: 25px auto;
    padding: 10px;
    */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 50px;
  }
  .nav-main-list-item {
    width: auto;
    height: auto;
    border: none;
    padding-bottom: 20px;
    ;
    display: block;
  }
  .nav-main-list-item+.nav-main-list-item {
    padding-left: 25px;
  }
  nav li {
    border: none;
  }
  a span {
    display: none;
  }
  main {
    padding-top: 30px;
  }
  .main-photo-container {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 25px;
  }
  main figure {
    display: inline-block;
    width: 48%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .sub-menu-list {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    padding-left: 25%;
    padding-top: auto;
  }
  .sub-menu img {
    max-width: 100%;
  }
  .sub-menu figure {
    order: 2;
    position: relative;
    left: -30%;
  }
  .sub-menu-list>li {
    border: none;
  }
  .nav-main-list li:hover .sub-menu, .sub-menu:hover .sub-menu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 100px;
  }
  .sub-menu {
    background: white;
    width: 100%;
    visibility: visible;
    position: static;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    display: none;
    padding-bottom: 30px;
  }
  a[data-target="close-sub-menu"] {
    display: none;
  }
  a[data-target="open-sub-menu"] {
    display: inline;
    width: auto;
  }
  .main-video-container {
    width: auto;
    padding-bottom: 25px;
  }
}
