h1 {

}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

main {
  border-top: 0.1rem solid grey;
  padding: 0;
  font-size: 1.8rem;
}

figure {
  margin: 0;
  padding: 0;
}

.subpage-photo-list {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.subpage-photo-list li {
  width: 32rem;
}

.subpage-photo-list figure {
  width: auto;
  overflow: hidden;
  margin: 1rem 0;
}

.img-container {
  border: 0.1rem solid white;
  margin: 2%;
  overflow: hidden;
  width: 100%;
}

.img-container img {
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-container img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.big-photo-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.8);
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.big-photo-container figure {
  width:65%;
}
.big-photo-caption {
  color: white;
  font-size: 4rem;
}
span[class*="arrow"] {
  width: 15%;
  text-align:center;
  padding-top: 20%;
  padding-bottom: 20%;
}

span[class*="remove"] {
  position:absolute;
  top:-1rem;
  right:1rem;
  font-weight: bold;
}
span {
  color:white;
  font-size: 6rem;
}
.big-photo-container.open {
  display: flex;
  flex-flow: row nowrap;
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
  main {
    border-top: 0.1rem solid grey;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    border-top: none;
  }
}
